@charset "UTF-8";
@import url(style_Reset.css);

h1 {
    width: 1200px;
    text-align: center;
    padding: 20px;
    margin: 40px auto;
}

div#wrap {
    width: 1200px;
    height: 300px;
    padding: 30px 10px;
    margin: 0 auto;
}
/*

div#contents {
    border: 4px solid #08f;
}
*/

#contents>div {
    width: 400px;
    height: 200px;
    padding: 6px;
    /*border: 1px solid #000;*/
    margin: 6px;
}



div#contents button.tabBtn {
    font-size: 20px;
    padding: 4px 14px;
    border: 1px solid #aaa;
    border-bottom-color: #fff;
    background-color: #fff;
    position: relative;
    left: 20px;
    top: 1px;
}

div.tabContents {
    padding: 4px;
    border: 1px solid #aaa;
}

div#notice table {
    width: 100%;
    /*border: 1px solid #000;*/
    border-collapse: collapse;
    /* td구간 연결 = 테두리선이 구분되는 것을 붕괴하여
                            1줄로 나타남*/
}

div#notice td {
    line-height: 36px;
}
div#notice td:first-child {
    padding: 0 20px 0 10px;
}
div#notice tr:nth-child(2n-1) td {
    background-color: #eee;
}



div#gallery button.tabBtn {
    border-bottom: 1px solid #aaa;
    background-color: #eee;

}




