@charset "UTF-8";
@import url(style_Reset.css);

h1 {
    text-align: center;
    margin: 40px;
}
div#wrap {
    width: 1300px;
    padding: 40px;
    border: 1px solid #000;
    margin: 40px auto;
}

div#contents {
    width: 1200px;
    border: 4px solid #aaa;
    margin: 0 auto;
}

#contents>div {
    width: 400px;
    height: 200px;
    padding: 4px;
    border: 1px solid #000;
    margin: 4px;
}


/*  멀티탭 영역 시작 */
button.tabBtn {
    font-size: 20px;
    font-weight: bold;
    padding: 4px 14px;
    border: 1px solid #aaa;

    cursor: pointer;

    position: relative;
    top: 1px;
}

button.tabBtn:first-child {
    border-bottom-color: #fff;
    background-color: #fff;
    left: 6px;

}



div.tabContents {
    padding: 4px;
    border: 1px solid #aaa;
}

div.tabContents table {
    width: 100%;
    /*border: 1px solid #000;*/
}



#noticeArea td {
    line-height: 34px;
}

#galleryArea td {
    height: 140px;
    text-align: center;
}


/*
#noticeArea {
    display: block;
}
*/

#galleryArea {
    display: none;
}
/*  멀티탭 영역 끝 */













